{% trans_default_domain 'FOSUserBundle' %}
<h1>Changer de Mot de Passe </h1>

<form action="{{ path('fos_user_change_password') }}" method="post" >
 
<!-- Les erreurs générales du formulaire. -->
{{ form_errors(form) }}
    <!-- Génération du label. -->
    {{ form_label(form.current_password, "Ancien Mot de Passe") }}
 
    <!-- Affichage des erreurs pour ce champ précis. -->
    {{ form_errors(form.current_password) }}
 
    <!-- Génération de l'input. -->
    {{ form_widget(form.current_password) }}

<br><br>
    <!-- Génération du label. -->
    {{ form_label(form.plainPassword.first, "Nouveau Mot de Passe") }}
 
    <!-- Affichage des erreurs pour ce champ précis. -->
    {{ form_errors(form.plainPassword.first) }}
 
    <!-- Génération de l'input. -->
    {{ form_widget(form.plainPassword.first) }}
<br><br>
    <!-- Génération du label. -->
    {{ form_label(form.plainPassword.second, "Confirmation Mot de Passe") }}
 
    <!-- Affichage des erreurs pour ce champ précis. -->
    {{ form_errors(form.plainPassword.second) }}
 
    <!-- Génération de l'input. -->
    {{ form_widget(form.plainPassword.second) }}
<br><br>
 
<!-- Idem pour un autre champ. -->

{{ form_rest(form) }}


        <input type="submit" value="{{ 'Modifier'|trans({}, 'FOSUserBundle') }}" />
<br>

