{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}
    <h1> Modification </h1>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% if category.image !="" %}
        <object width="700" height="700" data="{{ asset('uploads/images/category/'~category.image) }}">
     </object>
     <br>
    {% endif %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('categories_index') }}" class="">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
        var abc = 0; //Declaring and defining global increement variable

        $(document).ready(function () {


            //following function will executes on change event of file input to select different file	
            $('body').on('change', '#PlatformBundle_categories_imageFile', function () {
                if (this.files && this.files[0]) {
                    abc += 1; //increementing global variable by 1

                    var z = abc - 1;
                    var x = $(this).parent().find('#previewimg' + z).remove();
                    $(this).before("<div id='abcd" + abc + "' class='abcd'><br>Ceci sera la nouvelle image<br><img id='previewimg" + abc + "' src='' style='height:100px;'/></div>");

                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);

                    $(this).hide();
                    $("#abcd" + abc).append($("<img/>", {id: 'delete', src: 'x.png', alt: 'delete'}).click(function () {
                        $(this).parent().parent().remove();
                    }));
                }
            });

//To preview image     
            function imageIsLoaded(e) {
                $('#previewimg' + abc).attr('src', e.target.result);
            }
            ;
        });
        $('.alert .close').on('click', function (e) {
            $(this).parent().hide();
        });
    </script>
{% endblock %}